/* Importation des polices Google */
@import url('https://fonts.googleapis.com/css2?family=Ewert&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900&display=swap');

/* Style général du corps de la page */
body {
    font-family: 'Merriweather', serif;
}

/* Style de la marque dans la barre de navigation */
.navbar-brand {
    font-family: 'Ewert', cursive;
}

/* Style des liens dans la barre de navigation */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.75);
    transition: color 0.2s ease-in-out;
}

/* Effet de survol des liens dans la barre de navigation */
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}

/* Style de la section de la bannière */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Image_garde.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Style du texte dans la bannière */
.banner h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

/* Style des boutons de commande */
.btn-order {
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: background-color 0.5s, color 0.5s;
}

/* Effet de survol et état actif des boutons de commande */
.btn-order:hover,
.btn-order:active {
    color: #fff;
    background-color: var(--bs-teal);
}

/* Style de la section du pied de page */
.footer {
    background-color: #f8f9fa;
}

/* Style des titres dans le pied de page */
.footer .footer-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Style des listes dans le pied de page */
.footer ul {
    padding-left: 0;
    list-style: none;
}

/* Style des éléments de liste dans le pied de page */
.footer ul li {
    margin-bottom: 0.5rem;
}

/* Style des liens dans les listes du pied de page */
.footer ul li a {
    color: #0b80e6;
    text-decoration: none;
    transition: color 0.2s;
}

/* Effet de survol des liens dans les listes du pied de page */
.footer ul li a:hover {
    color: #495057;
}
