@import url('https://fonts.googleapis.com/css2?family=Ewert&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.redressed {
    font-family: 'redressed', cursive;
}

.merriweather {
    font-family: 'merriweather', serif;
}

.cc-navbar {
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'merriweather', 'serif';
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}

.cc-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.cc-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom: var(--bs-teal);
}

.banner,
.order-form {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/table-3084384_1280.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 700px;
}

.order-form {
    height: 500px;
}

.banner .banner-desc {
    font-size: 40px;
    font-weight: 400px;
    color: #fff;
}

.cc-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/table-5356682_1280.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 1200px;
}

.btn-order {
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
    color: #fff;
    background-color: var(--bs-teal);
}